{{!< default}}

<header id="header" class="default">
    <button class="toggle-menu menu-left push-body">
    <i class="fa fa-bars"></i>

        {{#if @blog.logo}}
            <a class="logo_purus" href="{{@blog.url}}">
                <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
            </a>
        {{/if}}

    </button> 
</header>

{{> navigation}}

<main role="main"> 
  <div class="wrapper_purus">
    {{#post}} 
    <section class="banner_purus">
        <h1 class="posttitle_purus" itemprop="headline">{{title}}</h1>
    </section>
    
    <section id="nav">
        {{> custom/menu this}}
    </section>   
      
    <div class="postcontent_purus" itemprop="articleBody">
        {{content}} 
    </div>  
    {{/post}}
  </div>
</main>
    
<footer class="main-footer_purus" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="wrapper-footer_purus">
        <div class="center-footer_purus">
            {{> custom/subscribe this}}
        </div>
    </div>
    {{> footer}}
</footer>          